@media (max-width: 900px){
    .latest-blogpost-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .latest-blogpost-preview{
        padding: 50px 0;
        text-align: center;
    }
    .bloglist{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .contact-me{
        flex-direction: column;
        align-items: center;
    }
    .hello{
        flex-direction: column;
        padding: 20px 0;
    }
    .projects-list{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    .bloglist{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .projects-list{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}