body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: white;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color:#E81531;
}
.icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 20px;
}
.icons span img{
    height: 30px;
    opacity: 0.7;
}
.icons span img:hover{
    opacity: 1;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: #2b2b2b;
}
.nav-logo-container img{
    height: 90px;
}
.nav-logo-container{
    margin-left: 20px;
}
.nav-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}
.home-main{
    height: 100%;
    background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3,1fr);
}
.home-main-message{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}
.home-main-message h1{
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
}
.home-main-message button{
    border: none;
    padding: 10px 30px;
    font-family: 'Oswald', sans-serif;
    background-color: #F51634;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}
.home-main-message button:hover{
    background-color: #CF132C;
}